[submodule "lib/zip"]
	path = lib/zip
	url = https://github.com/kuba--/zip
[submodule "lib/cexception"]
	path = lib/cexception
	url = https://github.com/throwtheswitch/cexception.git
[submodule "lib/zf_log"]
	path = lib/zf_log
	url = git@github.com:wonder-mice/zf_log.git
