[submodule "lib/zip"]
	path = lib/zip
	url = https://github.com/kuba--/zip
[submodule "lib/cexception"]
	path = lib/cexception
	url = https://github.com/throwtheswitch/cexception.git
[submodule "lib/zf_log"]
	path = lib/zf_log
	url = git@github.com:wonder-mice/zf_log.git
[submodule "lib/mlib"]
	path = lib/mlib
	url = git@github.com:P-p-H-d/mlib.git
[submodule "lib/sds"]
	path = lib/sds
	url = git@github.com:antirez/sds.git
[submodule "lib/cute_headers"]
	path = lib/cute_headers
	url = https://github.com/RandyGaul/cute_headers
